{% extends 'base.html' %}
{% block title %}
    	Course Info - {{ block.super }}
{% endblock title %}

{% block content %}
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
        <h1>
			YOUR ROLE!
		</h1>
		<h2>
			You're in the first cohort of students to ever go through this course. 
			You can expect this to be a grand experiment in the future of engineering education. 
			The internet gives us access to so many amazing resources. But more importantly, 
			it gives us the <strong>ability to connect to each other like never before.</strong>
		</h2>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<h1>
			Our Challenge
		</h1>
		<h2>
			As I set out to create this course, I faced a big challenge: every freshmen engineer is going to take it! 
			The prevailing theory is that the larger a class, the worse for the students. 
			The question I asked myself was <strong>"How can we design a class that enhances your learning because it is large, 
			not in spite of it?"</strong> What you're about to experience is my answer to that question.
		</h2>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<h1>
			The key word is "community."
		</h1>
		<h2>
			Where else is our experience enhanced by adding more people? <strong>Networked Communities.</strong>
			Think about how useless Facebook and YouTube would be if they only had 20 users. 
			The very reason that they are so great is that an incredible number of people are involved. 
			But there's more to it than simply having a crowded room...
		</h2>
	</div>
	</br>
	</br>
{% endblock content %}