{% extends 'modules.html' %}
{% block title %}
    	JAVASCRIPT - {{ block.super }}
{% endblock title %}

{% block module %}
 		<h2>JAVASCRIPT</h2>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="LYNDA PROGRAMMING FUNDEMENTALS" onclick="window.open('https://www.lynda.com/Programming-Foundations-tutorials/Foundations-Programming-Fundamentals/83603-2.html')">
		</form>
        	<h3>
			Lynda.com is a great resource for learning coding and getting credit via LinkedIn. Hopefully you've signed up for the "Become a Programmer" Learning Path. This next course is the first in that path. Complete the entire course at Lynda.com, then come back here.
		</h3>
		<h4>
			NOTE: You'll need to log in to Lynda.com through the Temple system to access the material at no cost. You are NOT required to pay for anything at Lynda.com.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="HACKERRANK JAVASCRIPT" onclick="window.open('https://www.hackerrank.com/tests/11h7to489g8')">
		</form>
        	<h6>
			Password: doThisJavascript
		</h6>
		<h3>
			HackerRank is a learning environment in which you type code directly into your web browser. Each coding challenge consists of: Specified Text Input, Your Code, and Specified Text Outputs.
			Your code must take the Text Input as input, perform the tasks given in the problem statement, and produce the Text Output. If your output matches the specified output, your code passes the test.
		</h3>
		<h4>
			NOTE: Keep in mind that we will be evaluating your code using secret input, so you can't simply write a code that prints the desired output. For example, imagine a task such as to writing a code that takes two numbers as input, multiplies them, and prints the result. We will use secret numbers to test that your code actually performs the math correctly. You'll be able to test your code with several relevant test cases before submitting. If your code passes these tests, you can be confident that you solved the problem correctly. For full credit, don't submit until your code passes all of the test cases.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="PROGRAMMING FOUNDATIONS M.C ASSESSMENT" onclick="window.open('https://fim.temple.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=7E8F4093EA0F7FEE217C83E0707CAA30?execution=e1s1')">
		</form>
		<h3>
			Next do the Python 1 Multiple choice Assessment on canvas. These questions are based off of material from Lynda "Programming Fundementals: Foundations" course. Please read each question and answer carefully. Don't forget to complete the coding portion for this examination on hackerrank.
		</h3>
		<h4>
			NOTE: this quiz may only be taken once, and partial credit is not possible on each question. Your score will be calculated based on the number of questions you answer correctly.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" title="Div Element 1" style="color: rgb(255, 255, 255);">
		<form>
    		<input class="buttoncss3" type="button" value="<< PREVIOUS: HTML/CSS" onclick="window.location.href='/htmlcss'" />
			<input class="buttoncss3" type="button" value="NEXT: PYTHON >>" onclick="window.location.href='/python'" />
		</form>
	</div>
	</br>
	</br>
{% endblock module %}