{% extends 'base.html' %}
{% block title %}
    	Modules - {{ block.super }}
{% endblock title %}

{% block content %}
	<h1>SELECT MODULE BELOW</h1>
	<div id="Div" name="Div" title="Div Element " style="color: rgb(255, 255, 255);">	
		<form>
			<input class='buttoncss1' type="button" value="HTML/CSS" onclick="window.location.href='/htmlcss'">
			<input class='buttoncss1' type="button" value="JAVASCRIPT" onclick="window.location.href='/javascript'" />
        	<input class='buttoncss1' type="button" value="PYTHON" onclick="window.location.href='/python'" />
			<input class='buttoncss1' type="button" value="SCHEDULE" onclick="window.location.href='/schedule'" />
			<input class='buttoncss3' type="button" value="CORE SKILLS DEMO" onclick="window.location.href='/coreskilldemo'" />
			<input class='buttoncss3' type="button" value="NEW" onclick="window.location.href='/new'" />
   		</form>	
	</div>
	{% block module %}
	{% endblock module %}
{% endblock content %}