{% extends 'modules.html' %}
{% block title %}
    	PYTHON - {{ block.super }}
{% endblock title %}

{% block module %}
	<h2>PYTHON</h2>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="CODECADEMY PYTHON 1" onclick="window.open('https://www.codecademy.com/learn/learn-python')">
		</form>
        	<h3>
			This Codecademy "Learn Python" course you're about to complete will teach you: Python Syntax, Strings and Console Output, Conditionals and Control Flow, Functions, Lists & Dictionaries, Lists & Functions, Loops, Object-Orientation, and File Input and Output.
			Complete Modules 1 - 10 at Codecademy, then come back here.
		</h3>
		<h4>
			NOTE: Codecademy offers paid upgrades that include quizzes and projects. You are NOT required to pay for the upgraded access or complete these activities.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="HACKERRANK PYTHON 1" onclick="window.open('http://hr.gs/pymods1_10')">
		</form>
		<h6>
			Password: doThisPython
		</h6>
		<h3>
			HackerRank is a learning environment in which you type code directly into your web browser. Each coding challenge consists of: Specified Text Input, Your Code and Specified Text Output. Your code must take the Text Input as input, perform the tasks given in the problem statement, and produce the Text Output. If your output matches the specified output, your code passes the test.
		</h3>
		<h4>
			NOTE: Keep in mind that we will be evaluating your code using secret input, so you can't simply write a code that prints the desired output. For example, imagine a task such as to writing a code that takes two numbers as input, multiplies them, and prints the result. We will use secret numbers to test that your code actually performs the math correctly. You'll be able to test your code with several relevant test cases before submitting. If your code passes these tests, you can be confident that you solved the problem correctly. For full credit, don't submit until your code passes all of the test cases.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="PYTHON 1 M.C ASSESSMENT" onclick="window.open('https://fim.temple.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=34E7DDD7B8166E6F08288489D39CA364?execution=e1s1')">
		</form>
		<h3>
			Next do the Python 1 Multiple choice Assessment on canvas. These questions are based off of material from modules 1-10 of the Python code academy class. Please read each question and answer carefully. Don't forget to complete the coding portion for this examination on hackerrank.
		</h3>
		<h4>
			NOTE: this quiz may only be taken once, and partial credit is not possible on each question. Your score will be calculated based on the number of questions you answer correctly.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="CODECADEMY PYTHON 2" onclick="window.open('https://www.codecademy.com/learn/learn-python')">
		</form>
        	<h3>
			Continue and complete Modules 11 - 12 at Codecademy, then come back here.
		</h3>
		<h4>
			NOTE: Codecademy offers paid upgrades that include quizzes and projects. You are NOT required to pay for the upgraded access or complete these activities.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="HACKERRANK PYTHON 2" onclick="window.open('http://hr.gs/python11_12')">
		</form>
		<h6>
			Password: doThisPython
		</h6>
		<h3>
			HackerRank is a learning environment in which you type code directly into your web browser. Each coding challenge consists of: Specified Text Input, Your Code and Specified Text Output. Your code must take the Text Input as input, perform the tasks given in the problem statement, and produce the Text Output. If your output matches the specified output, your code passes the test.
		</h3>
		<h4>
			NOTE: Keep in mind that we will be evaluating your code using secret input, so you can't simply write a code that prints the desired output. For example, imagine a task such as to writing a code that takes two numbers as input, multiplies them, and prints the result. We will use secret numbers to test that your code actually performs the math correctly. You'll be able to test your code with several relevant test cases before submitting. If your code passes these tests, you can be confident that you solved the problem correctly. For full credit, don't submit until your code passes all of the test cases.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" class="Div" title="Div Element 1">
		<form>
    			<input class="buttoncss2" type="button" value="PYTHON 2 M.C ASSESSMENT" onclick="window.open('https://fim.temple.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=7E8F4093EA0F7FEE217C83E0707CAA30?execution=e1s1')">
		</form>
		<h3>
			Next do the Python 2 Multiple choice Assessment on canvas. These questions are based off of material from modules 11-12 of the Python code academy class. Please read each question and answer carefully. Don't forget to complete the coding portion for this examination on hackerrank.
		</h3>
		<h4>
			NOTE: This quiz may only be taken once, and partial credit is not possible on each question. Your score will be calculated based on the number of questions you answer correctly.
		</h4>
		</br>
	</div>
	</br>
	<div id="Div1" name="Div1" title="Div Element 1" style="color: rgb(255, 255, 255);">
		<form>
    			<input class="buttoncss3" type="button" value="<< PREVIOUS: JAVASCRIPT" onclick="window.location.href='/javascript'" />
			<input class="buttoncss3" type="button" value="NEXT: SCHEDULE >>" onclick="window.location.href='/schedule'" />
		</form>
	</div>
	</br>
	</br>
{% endblock module %}